extends ../master

block content
    h1.text-center Login
    .row.justify-content-center 
        
        form(action='/auth/login' method='POST')
            .form-group
                label(for='username') Username
                input.form-control(type='text' name='username')
            .form-group
                label(for='password') Password
                input.form-control(type='password' name='password')
            .form-group
                input.button.button-info.form-control(type='submit' name='submit')

            