extends ../master

block content
    h1 Sign up

    .col-xs-4
    .col-xs-4
        form(action='/auth/signup' method='POST')
            .form-group
                label(for='username') Username
                input.form-control(type='text' name='username')
            .form-group
                label(for='password') Password
                input.form-control(type='password' name='password')
            .form-group
                input.button.button-info.form-control(type='submit' name='submit')
    .col-xs-4
        
        
