$orangeRed: #fb6e5a;


table {
    margin: 0 auto;
    tr {
        td {
            padding: 20px 40px;

            a {
                padding: 5px;
            }
        }
    }
}
h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-size: 1.8em;
    position: relative;
}

.content {
    padding: 35px 0px 70px 0px;
    position: relative;
}

.fa-padding-left-from-icon {
    padding-left: 5px;
}

button {
    cursor: pointer;
}
a {
    &.btn {
        display: block;
    }
    color: $orangeRed;
    &:visited, &:active {
        color: $orangeRed;
    }
}

.list {
    padding-left: 0px;
    width: 50%;
    margin: 40px auto 0px auto;
    border: 1px solid #D5D5D5;
    border-radius: 15px;
    .list-item {
        border-bottom: 1px solid #d5d5d5;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        .liked-by {
            padding: 10px;
        }
        a {
            
            
            
        }
    }
}


.avatar {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.avatar--placeholder {
    color: #fff;
    background-color: $orangeRed;

    .placeholder__letter {
        
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
    
        text-align: center;
        display: block;
        cursor: default;
    }
}

.profile__follow {
    position: absolute;
    top: 50px;
    right: 50px;
}

.profile__followers {
    width: 30%;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.profile__avatar {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0px auto 30px auto;

    .placeholder__letter {
        font-size: 5em;
    }
}



.edit__avatar {
    width: 100px;
    height: 100px;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-user-toggle {
    display: flex;
    flex-flow: row nowrap;
    width: 190px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    .small__avatar {
        width: 40px;
        height: 40px;
    }

    .navbar-user-panel {
        display: none;
        position: absolute;
        top: 50px;
        left: calc(50% - (190px / 2));
        // left: 50%;
        width: 180px;
        padding: 20px !important;
        background-color: #fff;
        border: 1px solid $orangeRed;

        z-index: 99;
        
        li {
            list-style-type: none;
            cursor: pointer;
            text-align: center;

            a {
                cursor: pointer;
            }
        }

        &.active {
            display: block;
        }
    }
}

p {
    font-family: 'Roboto Mono', sans-serif;
}

.nav-item {
    padding: 0px 10px;
    font-family: 'Roboto Mono', sans-serif;
    a {
        color: $orangeRed;
    }
}
.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: $orangeRed;
}

.photo-author {
    display: flex;
    flex-flow: row nowrap;
    a {
        margin-left: 20px;
    }
}
.edit-user {
    display: block;
    top: 10px;
    right: 10px;
    width: 100px;
    margin: 0 auto;
    font-size: 0.9em;
    margin-bottom: 15px;

    font-family: 'Roboto Mono', sans-serif;
}

.small__avatar {
    width: 50px;
    height: 50px;
    
    .placeholder__letter {
        font-size: 1.4em;
    }
}



.photo-grid__container {
    width: 90%;
    margin: 50px auto 0px auto;
    .photo-grid {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .photo-grid__photo {
            background-size: cover;
            background-position: center;
            display: block;
            position: relative;
            margin: 4px;
            // height: 250px;
            width: calc(33% - 8px);

            &:hover {
                .photo-grid__overlay {
                    opacity: 1;
                }
            }
        }

        .photo-grid__overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-out;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            .photo-grid__info {
                width: 30%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                font-size: 1em;
                color: #fff;
                font-family: 'Roboto Mono', sans-serif;

                
            }
        }
    }
}

.photo-single {
    margin: 0 auto;
    width: 800px;
    overflow: auto;
    position: relative;
    height: 800px;
    .photo-single__photo {
        
        width: 100%;

        height: 0;
        padding-top: 66.64%;
        max-width: 800px;
        // max-height: 800px;
        
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #D5D5D5;
    }

    .photo-single__top, .photo-single__bottom {
        padding: 15px 5px;
        font-family: 'Roboto Mono', sans-serif;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .photo-single__bottom {
        .photo-single__likes {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            i, span {
                display: inline;
                vertical-align: text-top;
            }
        }
        .photo-single__show-likes {
            font-size: 0.8em;
            color: #fff;
            height: 30px;
            background-color: $orangeRed;
            padding: 5px 10px;
            margin-right: 10px;
            transition: all 0.3s ease-out;
            &:hover {
                background-color: #fff;
                color: $orangeRed;
            }
        }

        .photo-single__like-form {
            button {
                border-width: 0px;
                color: #fff;
                background-color: $orangeRed;
                cursor: pointer;
            }
        }

        .photo-single__description {
            max-width: 70%;
            word-break: break-word;
        }
    }

    .photo-single__comments {
        width: 95%;
        margin: 0 auto 50px auto;

        form {
            margin-top: 30px;
        }

        .photo-single__comment {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 10px;
            padding: 10px 20px;
            border-radius: 15px;
            border: 1px solid $orangeRed;

            p {
                margin-bottom: 0px;
            }
            .avatar {
                margin-right: 10px;
            }

            .photo-single__comment-actions {
                margin-left: auto;
            }
        }
        
    }
}

.liked {
    color: $orangeRed;
}

.photo-timeline {
    margin-bottom: 50px;
}

.flash__wrapper {
    width: 80%;
    min-height: 20px;
    border-radius: 15px;
    margin: 8px auto 0px auto;

    a {
        color: blue;

        &:visited, &:hover {
            color: blue;
        }
    }

    .flash {
        color: #fff;
        line-height: 20px;

        .flash__text {
            max-width: 75%;
            font-family: 'Roboto Mono', sans-serif;
            line-height: 20px;
            padding: 10px 0px;
            font-size: 0.8em;
        }

        button {
            float: right;
            font-size: 1em;
        }

        span {
            display: inline-block;
        }

        .flash__remove {
            
            float: right;
            cursor: pointer;
            font-size: 1.3em;
            line-height: 40px;
        }
    }

    &.flash--error { background-color: #ff6651; }
    &.flash--success { background-color: #8affa4; }
    &.flash--info { background-color: #3ec8ff; }

}

.tag-color, .tag-name {
    display: none;
}